<div class="containers">
    <div class="left">
        
    </div>
    <div class="milieu">
        <div class="content-text container">
            <p class="hot-recipe"><i class="fa-solid fa-clipboard"></i> Hot Recipes</p>
            
            <h3>Spicy delicious chicken wings</h3>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque, dolor at efficitur lacinia, ipsum dolor dignissim purus, vitae convallis neque nisi id turpis.
            </p>
            <div class="menu-info">
                <p><i class="fa-solid fa-clock"></i>30 Minutes</p>
                <p><i class="fa-solid fa-utensils"></i>Chicken</p>
            </div>
            <div class="container-info">
                <div class="user-infos">
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                        <!-- <img src="../../../../public/img-angular/avatar3.jpg" alt=""> -->
                        John Smith <br>
                        15 March 2022
                    </a>
                </div>
                <div class="btn-infos">
                    <button class="btn-view">View Recipes <i class="fa-solid fa-play"></i></button>
                </div>
            </div>
        </div>
        <div class="content-img">

        </div>
    </div>
    <div class="right">
        
    </div>
</div>